@model AdminPanelViewModel
@inject Fardin.Core.Services.IServices.IPostService postService
@{
    ViewData["Title"] = "EditPosts";
    Layout = "~/Views/Shared/_adminPanelLayout.cshtml";
    List<Fardin.DataLayer.Entites.Post> posts = postService.GetPosts();
}

@section sidebar{
    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
        <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
            سایت پزشکی
        </a>
        <div class="d-flex justify-content-center align-self-center bottom-border pb-2">
            <img src="img/3.jpg" alt="" width="40px" height="30px" class="rounded-circle ml-2">
            <a href="#" class="text-white">سلام @User.Identity.Name</a>
        </div>
        <ul class="navbar-nav flex-column text-right mt-2">
            <li class="nav-item pl-3">
                <a asp-action="Index" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 ">
                    <i class="fas fa-home text-light fa-lg ml-3"></i>اضافه کردن پست
                </a>
            </li>

            <li class="nav-item pl-3">
                <a asp-action="EditPosts" asp-controller="Admin" asp-area="AdminPanel" class="nav-link text-white p-2 mb-2 sidebar-link current">
                    <i class="fas fa-user text-light fa-lg ml-3"></i>تغییر دادن پست ها
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-envelope text-light fa-lg ml-3"></i>صندوق ورودی
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-shopping-cart text-light fa-lg ml-3"></i>فروش
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-chart-line text-light fa-lg ml-3"></i>تجزیه و تحلیل
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-chart-bar text-light fa-lg ml-3"></i>نمودار
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-table text-light fa-lg ml-3"></i>جدول ها
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-wrench text-light fa-lg ml-3"></i>تنظیمات
                </a>
            </li>

            <li class="nav-item pl-3">
                <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link">
                    <i class="fas fa-file-alt text-light fa-lg ml-3"></i>مستندات
                </a>
            </li>
        </ul>
    </div>
}

<style>
    .noneDisplay {
        display: none
    }

    .postSection {
        padding: 5px;
        margin-top: 100px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.46)
    }

    .form-control {
        margin-top: 5px
    }
</style>

<div class="row mx-0 mb-5 postSection">
    <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
        <form asp-action="EditPosts" asp-controller="Admin" asp-area="AdminPanel" enctype="multipart/form-data">
            <input type="hidden" id="ID"/>
            <div class="row align-items-center">
                <!-- salary table -->
                <div class="col-xl-6 col-12 mb-4 mb-xl-0 align-items-center">

                    <h3 class="text-muted text-center mb-3">تیتر پست</h3>

                    <label>لطفا بخش مورد نظر را انتخاب کنید</label>
                    <div>
                        <select id="postSection" name="SectionId" class="form-control">
                            <option value="0">انتخاب...</option>
                            <option value="1">بخش اول</option>
                            <option value="2">بخش دوم</option>
                            <option value="3">بخش سوم</option>
                        </select>
                    </div>
                    <div id="sectionPosts" style="display:none">
                        <label>لطفا پست مورد نظر را انتخاب کنید</label>

                        <select id="postSelect" name="PostId" class="form-control">
                        </select>
                    </div>
                    <div id="PostText" style="display:none">
                        <textarea class="form-control" name="PostText" id="postTextArea" rows="8"></textarea>
                        <label>تیتر مورد نظر را وارد کنید</label>
                        <input type="text" id="postTitleText" name="Title" class="form-control" />
                    </div>



                </div>
                <!-- end of salary table -->
                <!-- payments table -->
                <div class="col-xl-6 col-12">
                    <h3 class="text-muted text-center mb-3">انتخاب تصویر پست</h3>

                    <div>
                        <img src="~/images/no.image.png" id="imgUp" height="250" />
                    </div>

                    <input type="file" asp-for="@Model.PostImg" id="PostImg" />
                    <div id="newPostSectionDiv" style="display: none">
                        <label>لطفا بخش جدید را انتخاب کنید</label>
                        <div>
                            <select id="newPostSection" name="newSectionId" class="form-control">
                                <option value="1">بخش اول</option>
                                <option value="2">بخش دوم</option>
                                <option value="3">بخش سوم</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- end of payments table -->
            </div>
            <br />
            <input type="submit" value="ثبت" class="btn btn-success" />
        </form>
    </div>
</div>
<br />
<br />
@await Component.InvokeAsync("PostDetailsComponent")
<br />
<br />
@await Component.InvokeAsync("DetailsDescriptionComponent")

@section scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUp').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUp2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#PostImg").change(function () {
            readURL(this);
        });

        $("#image").change(function () {
            readURL2(this);
        });

        $("#postSection").change(function () {
            $("#newPostSectionDiv").css("display", "none");
            $("#postSelect").empty();
            $.getJSON("/adminpanel/admin/getPostsWithSectionId/" + $("#postSection :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#postTextArea").attr("placeholder", "");
                            $("#postTitleText").attr("placeholder", "");
                            $("#imgUp").attr("src","/images/no.image.png");
                            $("#postSelect").append('<option value=' + this.value + '>' + this.text + '</option>');
                            $("#sectionPosts").slideDown(2);

                            
                        });

                });
         
        });

            //#postSelect is in _SectionIdPostsPartialView
            $("#postSelect").change(function () {
                $.getJSON("/adminpanel/admin/getPostWithPostId/" + $("#postSelect :selected").val(),
                    function (data) {
                        console.log(data)
                        $.each(data,
                            function () {
                                $("#ID").val(data.postId);
                                $("#postTextArea").attr("placeholder", "");
                                $("#postTitleText").attr("placeholder", "");
                                $("#imgUp").attr("src", "/images/no.image.png");
                                $("#postTextArea").attr("placeholder", data.postText);
                                $("#postTitleText").attr("placeholder", data.title);
                                $("#imgUp").attr("src", "/posts/image/" + data.postImg);
                                $("#newPostSection").val(data.sectionId).attr("selected");
                                $("#PostText").show(3);
                                $("#newPostSectionDiv").show(3);
                            });

                    });
        });
    </script>
}

