@model Fardin.DataLayer.Entites.ContactUs
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


    <div class="container-fluid" >
        <div class="section-title row text-center" style="margin-top: 190px">
            <div class="col-md-8 col-md-offset-2">
                <small>LET'S MAKE AN CONTACT</small>
                <h3>Contact</h3>
                <hr class="grd1">
                <p style="color: black">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
            </div>
        </div><!-- end title -->
        @if(ViewBag.isSuccess != null && ViewBag.isSuccess)
        {
    <p class="alert alert-success">Your message has been successfully sent</p>
        }
        <div class="row" style="margin-bottom: 100px">
            <div class="col-md-8 col-md-offset-2">
                <div class="contact_form" style="background-color:#3d3c3c">
                    <div id="message"></div>
                    <div asp-validation-summary="All"></div>
                    <form asp-controller="Home" asp-action="ContactUs" method="post">
                        <fieldset class="row-fluid">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" asp-for="FullName" id="first_name" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="email" asp-for="Email" id="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" asp-for="PhoneNumber" id="phone" class="form-control" placeholder="Your Phone">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" asp-for="Text" id="comments" rows="6" placeholder="Write here.."></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
