@model IEnumerable<Fardin.DataLayer.Entites.Post>

    <div class="row mx-0 mb-5 postSection">
        <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
            <form asp-action="PostDetails" enctype="multipart/form-data">
                <div class="row align-items-center">
                    <!-- salary table -->
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0 align-items-center">

                        <h3 class="text-muted text-center mb-3">متن پست</h3>

                        <label>لطفا بخش مورد نظر را انتخاب کنید</label>
                        <div>
                            <select name="PostId" class="form-control">
                                <option value="0">انتخاب...</option>
                                @foreach (var post in Model)
                                {

                                    <option value="@post.PostId">@((post.Title != null ? post.Title.Substring(0,post.Title.Length) : "متنی یافت نشد"))</option>

                                }
                            </select>
                        </div>
                        <label>تیتر مورد نظر را وارد کنید</label>
                        <input type="text" name="postDetailsText" class="form-control" />
                        @*<label>متن مورد نظر را وارد کنید</label>
                        <textarea name="TextResumen" rows="5" class="form-control"></textarea>*@

                    </div>
                    <!-- end of salary table -->
                    <!-- payments table -->
                    <div class="col-xl-6 col-12">
                        <h3 class="text-muted text-center mb-3">انتخاب تصویر پست</h3>

                        <div>
                            <img src="~/images/no.image.png" id="imgUp2" height="250" />
                        </div>

                        <input type="file" name="image" id="image" />

                    </div>
                    <!-- end of payments table -->
                </div>
                <br />
                <input type="submit" value="ثبت" class="btn btn-success" />
            </form>
        </div>
    </div>