

        <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
            <div class="row align-items-center">
                <!-- salary table -->
                <div class="col-xl-6 col-12 mb-4 mb-xl-0 align-items-center">

                    <h3 class="text-muted text-center mb-3">متن پست زیرمجموعه</h3>
                    <form action="/" method="post">
                        <label>لطفا بخش مورد نظر را انتخاب کنید</label>
                        <div>
                            <select class="form-control">
                                <option value="0">انتخاب...</option>
                                <option value="1">بخش اول</option>
                                <option value="2">بخش دوم</option>
                                <option value="3">بخش سوم</option>
                            </select>
                        </div>
                        <textarea class="form-control" rows="10"></textarea>
                        <button class="btn btn-success">ثبت</button>
                    </form>
                </div>
                <!-- end of salary table -->
                <!-- payments table -->
                <div class="col-xl-6 col-12">
                    <h3 class="text-muted text-center mb-3">انتخاب تصویر پست</h3>
                    <form action="/" method="post">
                        <div>
                            <img src="~/images/no.image.png" id="imgUp" height="250" />
                        </div>
                        <input type="file" name="picture" id="PostImg" value="" />
                    </form>
                </div>
                <!-- end of payments table -->
            </div>
        </div>
