@model IEnumerable<Fardin.DataLayer.Entites.Post>
<label>لطفا پست مورد نظر را انتخاب کنید</label>

<select id="postSelect" name="PostId" class="form-control">
    <option value="0">انتخاب...</option>

        @foreach (var post in Model)
        {
            <option value="@post.PostId">@post.Title</option>

        }

</select>